#site-title a {
    color: #04648d;
    margin: 0 0 5px 0;
    letter-spacing: 1px;
    font: 36px Georgia;
}

.flash {
    background-color: #9898FB;
    width:100%;
    text-decoration: none;
}

.flash li {
    list-style-type: none;
    text-align: center;
}