<div class="row top-menu">
  <div class="col-md-2">
    <img src="/static/logo.png" alt="Shishubharathi logo">
  </div>
  <div class= "col-md-7">
    <h1 id="site-title" ><a href="http://shishubharathi.net/">Shishu Bharathi Library</a></h1>
    <nav role="navigation">
    <ul class="nav nav-pills">
    <li role="presentation">
    <a href="{{url_for('showCheckouts')}}">Check in</a>
    </li>
    <li role="presentation">
    <a href="{{url_for('showStudents')}}">Check out</a>
    </li>
    <li role="presentation">
    <a href="{{url_for('showBooks')}}">Manage Books</a>
    </li>
    </ul>
    </nav>
  </div>
  <div class="col-md-3 text-right">
    <p>{{username}}</p>
  </div>
</div>