{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
  <h2> Books Currently Checked out:</h2>
  <table class="table table-condensed table-hover">
    <tr>
      <th>Book Title</th>
      <th>Student</th>
      <th>Checkout Date</th>
      <th>Due Date</th>
      <th></th>
    </tr>
    {% for i in checkouts %}
      <tr>
        <td>
          {{ i.Book.name }}
        </td>
        <td>
          {{ i.Student.name }}
        </td>
        <td>
          {{ i.Checkout.checkout_date }}
        </td>
        <td>
          {{ i.Checkout.due_date }}
        </td>
        <td>
          <form action = "{{ url_for('returnBook', book_id = i.Book.id)}}" method = "POST">
            <button id="submit" class="btn btn-xs">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              Got the book
            </button>
          </form>
        </td>
      </tr>
  {% endfor %}
{% endblock %}